body {
    margin: 25px;
}

#parent, #controls {
    display: grid;
    grid-gap: 25px;
}

#parent {
    grid-template-columns: repeat(3, 1fr);
}

#controls {
    grid-template-columns: 2fr 2fr 1fr;
}

#controls div, h1 {
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface';
}

@media (max-width: 750px) {
    #parent, #controls {
        grid-template-columns: 1fr;
    }
}